#set($salutations = "MALE")
#if($p.gender == $salutations)
#set($salutations = "Mr")
#else
#set($salutations = "Mrs")
#end
To
$salutations $p.firstName $p.name
$p.address.number $p.address.street
$p.address.town

Dear $p.firstName ,

I would like to invite you to my party this Saturday, 8pm at my place.

Cheers, Jamie


-----------------------------------------------------------------------
